@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    display: block;
    padding: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(60, 104, 250, 0.486);
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.336);
    letter-spacing: 1px;
}

a:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.3s;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.473);
}